<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSUserDictionaryReplacementItems</key>
    <array>
        <dict>
            <key>on</key>
            <true/>
            <key>replace</key>
            <string>omw</string>
            <key>with</key>
            <string>omw</string>
        </dict>
        <dict>
            <key>on</key>
            <true/>
            <key>replace</key>
            <string>lol</string>
            <key>with</key>
            <string>lol</string>
        </dict>
        <dict>
            <key>on</key>
            <true/>
            <key>replace</key>
            <string>wtf</string>
            <key>with</key>
            <string>wtf</string>
        </dict>
        <dict>
            <key>on</key>
            <true/>
            <key>replace</key>
            <string>omw</string>
            <key>with</key>
            <string>omw</string>
        </dict>
        <dict>
            <key>on</key>
            <true/>
            <key>replace</key>
            <string>God</string>
            <key>with</key>
            <string>god</string>
        </dict>
        <dict>
            <key>on</key>
            <true/>
            <key>replace</key>
            <string>duck</string>
            <key>with</key>
            <string>fuck</string>
        </dict>
        <dict>
            <key>on</key>
            <true/>
            <key>replace</key>
            <string>ducked</string>
            <key>with</key>
            <string>fucked</string>
        </dict>
        <dict>
            <key>on</key>
            <true/>
            <key>replace</key>
            <string>ducking</string>
            <key>with</key>
            <string>fucking</string>
        </dict>
    </array>
</dict>
</plist>
