<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Clicking</key>
    <integer>1</integer>
    <key>DragLock</key>
    <integer>0</integer>
    <key>Dragging</key>
    <integer>0</integer>
    <key>TrackpadCornerSecondaryClick</key>
    <integer>0</integer>
    <key>TrackpadFiveFingerPinchGesture</key>
    <integer>2</integer>
    <key>TrackpadFourFingerHorizSwipeGesture</key>
    <integer>2</integer>
    <key>TrackpadFourFingerPinchGesture</key>
    <integer>2</integer>
    <key>TrackpadFourFingerVertSwipeGesture</key>
    <integer>2</integer>
    <key>TrackpadHandResting</key>
    <integer>1</integer>
    <key>TrackpadHorizScroll</key>
    <integer>1</integer>
    <key>TrackpadMomentumScroll</key>
    <integer>1</integer>
    <key>TrackpadPinch</key>
    <integer>1</integer>
    <key>TrackpadRightClick</key>
    <integer>1</integer>
    <key>TrackpadRotate</key>
    <integer>1</integer>
    <key>TrackpadScroll</key>
    <integer>1</integer>
    <key>TrackpadThreeFingerDrag</key>
    <integer>1</integer>
    <key>TrackpadThreeFingerHorizSwipeGesture</key>
    <integer>0</integer>
    <key>TrackpadThreeFingerTapGesture</key>
    <integer>2</integer>
    <key>TrackpadThreeFingerVertSwipeGesture</key>
    <integer>0</integer>
    <key>TrackpadTwoFingerDoubleTapGesture</key>
    <integer>1</integer>
    <key>TrackpadTwoFingerFromRightEdgeSwipeGesture</key>
    <integer>3</integer>
    <key>USBMouseStopsTrackpad</key>
    <integer>0</integer>
    <key>UserPreferences</key>
    <integer>1</integer>
    <key>version</key>
    <integer>5</integer>
</dict>
</plist>
